.App {
  text-align: center;
}
.logo {
  height: 5rem;
}
.App-logo {
  height: 10rem;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.productDisplay {
  padding: 1rem;
  float: left;
}
.product {
  height: 20rem;
  width: 20rem;
}
.productFull {
  margin-right: 2rem;
  float: left;
  height: 30rem;
  width: 30rem;
}
.productFullTitle {
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
}
.productMinimalTxt {
  text-align: left;
  font-size: 1rem;
}

.productDescTxt {
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
}
.button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}
.button2 {
  background: transparent;
  border: none;
  font-size: 1rem;
}
.buttonBuy {
  position: absolute !important;
  right: 15% !important;
  bottom: 10%;
  font-size: 2rem !important;
  font-weight: bold;
  align-items: right !important;
  margin-right: 3rem;
}
.buttonReset {
  position: absolute !important;
  right: 5% !important;
  bottom: 10%;
  font-size: 2rem !important;
  font-weight: bold;
  align-items: right !important;
  margin-right: 3rem;
}
.buttonLogin {
  background: rgb(227, 177, 85);
  border: none;
  position: absolute !important;
  top: 2%;
  font-size: 1.2rem !important;
  font-weight: italic;
  margin-right: 3rem;
}
.buttonMenu {
  background: rgb(227, 177, 85);
  border: none;
  margin-left: 1rem;
  /* position: absolute !important; */
  top: 2%;
  font-size: 2rem !important;
  color: white;
  font-weight: italic;
  margin-right: 3rem;
}
.buttonLocal {
  background: rgb(227, 177, 85);
  border: none;
  position: left !important;
  top: 2%;
  font-size: 1.2rem !important;
  font-weight: italic;
  margin-right: 3rem;
}
.productFullTxt {
  text-align: left;
  font-size: 2rem;
  margin-left: 2rem;
}
.addToCartTxt {
  text-align: right;
  font-size: 1.5rem;
  float: right;
  margin-right: 1rem;
}
.cartTxt {
  font-size: 2rem;
  min-height: 1rem;
  margin-left: 2rem;
  margin: 2rem;
  padding-bottom: 1rem;
}
.cartButtons {
  font-size: 1.5rem;
  min-height: 10rem;
  position: absolute !important;
  right: 5% !important;
  margin: auto;
}
.right {
  margin-right: 1rem;
  float: right;
}
.rightSmall {
  position: absolute !important;
  right: 5% !important;
  font-weight: normal !important;
  font-size: 1rem !important;
}
.cartToolbarSmall {
  right: 10% !important;
  font-weight: normal !important;
  font-size: 1rem !important;
}
.rightBig {
  position: absolute !important;
  right: 1% !important;
  font-size: 2rem !important;
  font-weight: bold;
  align-items: right !important;
}
.rightBigToolBarCart {
  color: white;
  position: absolute !important;
  top: 1%;
  right: 0% !important;
  font-size: 2rem !important;
  font-weight: bold;
  align-items: right !important;
  margin-right: 3rem;
}

.left {
  margin-left: 0.2rem;
  float: left;
}
.leftBig {
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
}

.App-header {
  background-color: #787b81;
  min-height: 1.5rem;
  display: flow-root;
  align-items: center;
  font-size: 2.5rem;
  color: white;
}
.Options-header {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
  background-color: #787b81;
  font-size: 4rem;
  color: white !important;
  /* display: block; */
}

.Options-window {
  background: rgb(227, 177, 85);
  visibility: hidden;
  left: 3.5rem;
  /* line-height: 2rem; */
  position: absolute !important;
  top: 2rem !important;
  font-size: 1rem;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.Options-header:hover .Options-window {
  display: block;
  visibility: visible;
  left: 3rem;
  height: 10rem;
}
.small {
  font-size: 2rem;
}
.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
